services:
    postgres:
        image: pgvector/pgvector:pg16
        container_name: ai_postgres
        environment: 
            POSTGRES_DB: ai_db
            POSTGRES_USER: ai_user
            POSTGRES_PASSWORD: ai_pass
        networks: 
            - ai-net
    
    redis:
        image: redis:7
        container_name: ai_redis
        networks:
            - ai-net
    
    ai_orchestrator:
        build: ../ai-orchestrator-python
        container_name: ai-orchestrator
        ports:
            - "8000:8000"
        networks:
            - ai-net
    
    api_gateway:
        build: ../api-gateway-java
        container_name: api_gateway
        ports:
            - "8080:8080"
        depends_on:
            - ai_orchestrator
        networks:
            - ai-net

networks:
    ai-net: